.grid-container{
   padding:10px;
   background-color: #2196f3;
   display: grid;
   grid-template-columns: auto auto auto;
 
   /* row gap and column gap */
   margin-bottom: 20px;
   
}
.grid-item{
    background-color: rgba(255,255,255, 0.8);
    padding: 20px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;


}
.container-1{
     /* row-gap: 20px;
   column-gap: 20px; */
   gap:20px 100px ;
}
.container-2{
    gap:10px;
}
.container-2 div:nth-of-type(1){
    grid-column-start: 2;
    grid-column-end: 4

    ;
}
.container-3{
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    /* justify-content: center; */
    justify-content: space-evenly;
}
.container-4{
    gap: 10px;
}
/* .container-4 div:nth-of-type(1){
    grid-column:2/span 3;
   
} */
.container-4 div:nth-of-type(1){
    grid-row: 1/5;
   
}
.container-4 div:nth-of-type(5){
    grid-row: 1/5;
   
}
.container-5{
    gap: 10px;
}
.container-5 div:nth-of-type(3){
   grid-area: 1/2/3/6;
   /* row start/colmn start/row end/ column end */
   
}