.calc{
    width: 500px;
    height: 620px;
    background-color: gray;
    margin-left: 250px;
}
#screen{
    width: 80%;
    margin-left: 42px;
    height: 40px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    width: 72px;
    height: 72px;
    margin-left: 39px;
    margin-top: 30px;
    background: bisque;

}